# The Data analytics :
numpy
pandas

# The JAX libs :  (First lib to learn) 
jax 

# The visualisation  : 
matplotlib

# Notebook dependancies: 
ipykernel
ipywidgets

# Following training and test
tqdm